html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1;
	vertical-align: baseline;
	border: 0;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}

#root {
	max-width: 600px;
	padding: 20px;
	font-family: 'Arial', sans-serif;
	border: 2px solid #000000;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.todo-title {
	font-size: 40px;
	text-align: center;
}

.todo-form {
	display: flex;
	gap: 10px;
	padding: 20px;
}

.todo-form__input {
	width: 100%;
	padding-inline-start: 10px;
	font-size: 20px;
	border-radius: 10px;
}

.todo-form__input:hover {
	background-color: rgb(0 0 0 / 10%);
}

.todo-form__input:focus {
	outline: none;
}

.todo-form__input:focus-visible {
	outline: 1px solid currentcolor;
	outline-offset: 1px;
}

.todo-form__input::placeholder {
	color: rgb(0 0 0 / 15%);
}

.todo-form__button {
	padding: 5px;
	background-color: transparent;
	border: 1px solid currentcolor;
	border-radius: 10px;
	transform: scale(1);
	opacity: 1;
	transition: background-color ease-in 0.3s, transform ease-in 0.3s,
		opacity ease-in 0.3s;
}

.todo-form__button:disabled {
	cursor: default;
	opacity: 0.3;
}

.todo-form__button:active {
	background-color: rgb(0 0 0 / 15%);
	transform: scale(0.8);
}

.todo-form__button:not(:disabled):hover {
	background-color: rgb(0 0 0 / 15%);
}

.todos-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.button {
	background-color: transparent;
	cursor: pointer;
}

.button:focus {
	outline: no;
}

.button:focus-visible {
	outline: 1px solid currentcolor;
	outline-offset: 1px;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 10px;
}

.todo-container__info {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.buttons-container__button {
	padding: 3px 5px;
	border-radius: 5px;
	transform: scale(1);
	transition: color ease-in 0.3s, transform ease-in 0.3s;
}

.buttons-container__button:hover {
	padding: 3px 5px;
	border-radius: 5px;
	transform: scale(1.1);
}

.buttons-container__button:active {
	color: red;
}

.buttons-container__button_active {
	outline: 1px solid red;
}

.todo-list {
	padding-block: 10px;
	width: 100%;
}

.todo-list__item {
	width: 100%;
	margin-bottom: 10px;
}

.todo-list__item:last-child {
	margin-bottom: 0;
}

.todo-card {
	display: flex;
	justify-content: start;
	gap: 20px;
	padding: 10px;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 10px;
}

.todo-label {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.todo__pseudo-checkbox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 20px;
	block-size: 20px;
	border: 1px solid currentcolor;
	border-radius: 50%;
}

.todo__pseudo-checkbox::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.3s ease;
	content: '';
}

.todo__checkbox:checked + .todo__pseudo-checkbox::after {
	opacity: 1;
}

.todo-card:has(.todo__checkbox:checked) .todo-card__title {
	text-decoration: line-through;
	color: grey;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}
